@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("admin")){@Html.ActionLink("Create New Order", "Create")}
</p>

<div>
    @using (Html.BeginForm())
{
    <p>
        <span><strong>Manager:</strong> @Html.TextBox("searchManagerString")</span>
        
        <span><strong>Customer:</strong> @Html.TextBox("searchCustomerString")</span>
        
        <span><strong>Product:</strong> @Html.TextBox("searchProductString")</span>
            </p>
    <p>
        <span><strong>Date From</strong> @Html.TextBox("beginTime") <strong>To</strong> @Html.TextBox("endTime")</span>
        <span><strong>Price From</strong> @Html.TextBox("minPrice") <strong>To</strong> @Html.TextBox("maxPrice")</span>
        </p>
        <p>    
        <input type="submit" value="Search" />
</p>
}
 </div>

<div>
   
    @Html.Partial("OrderSearch")
</div>


