@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>


<div>
    @using (Html.BeginForm("Orders", "Statistics"))
{
    <p>
        <span><strong>Manager:</strong> @Html.TextBox("searchManagerString")</span>
        
        <span><strong>Customer:</strong> @Html.TextBox("searchCustomerString")</span>
        
        <span><strong>Product:</strong> @Html.TextBox("searchProductString")</span>
    </p>
    <p>
        <span><strong>Date From</strong> @Html.TextBox("beginTime") <strong>To</strong> @Html.TextBox("endTime")</span>
        <span><strong>Price From</strong> @Html.TextBox("minPrice") <strong>To</strong> @Html.TextBox("maxPrice")</span>
    </p>
    <p>
        <span><strong> Percentage From</strong> @Html.TextBox("minPercentage") <strong>To</strong> @Html.TextBox("maxPercentage")</span>
        <strong> Sort</strong> @Html.DropDownList("orderBy", (IEnumerable<SelectListItem>)ViewBag.orderBy)
    </p>
    <p>    
        <input type="submit" value="Search" />
    </p>
}
 </div>

<div>
   
    @Html.Partial("OrderSearch")
</div>


